.tooltip{
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: whitesmoke;
    font-weight: bold;
}

.tooltip.tooltip-text{
    visibility: hidden;
    width: 180px;
    background-color: #333;
    color:aqua;
    text-align: center;
    padding: 8px;
    border-radius: 6px;

    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);

    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip.tooltip-text::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}

.tooltip:hover .tooltip-text{
    visibility: visible;
    opacity: 1;
}

