table{
    border-collapse: collapse;
    width: 50%;
}
th, td{
    border: 1px solid #333;
    padding: 8px;
    text-align: center;
}
tr :nth-child(odd){
    background-color: #f2f2;
}
tr:nth-child(even){
    background-color: #d0d;
}